body {
  background-color: rgb(182, 208, 226);
  flex-direction: column;
}

html,
body {
  height: 100%;
}

.title-font {
  font-family: 'Merriweather', serif;
}

.content-font {
  font-family: 'Merriweather Sans', sans-serif;
}

.background-color {
  background-color: #4682b4;
}

.clear-background {
  background-color: #f9f9f9;
}

/*
#bookCont,
#addBook,
#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 0 auto;
}
*/

#dateDisplay {
  font-size: x-small;
}

.footer {
  bottom: 0;
    position: fixed;
    width: 100%;
}
