body {
  background-color: rgb(182, 208, 226);
  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

.title-font {
  font-family: 'Merriweather', serif;
}

.content-font {
  font-family: 'Merriweather Sans', sans-serif;
}

.background-color {
  background-color: #4682b4;
}

.clear-background {
  background-color: #f9f9f9;
}

#addBook {
  display: flex;
  flex-direction: column;
  max-width: 200px;
  align-items: center;
  flex: 1 0 auto;
}

#dateDisplay {
  font-size: x-small;
}

.footer {
  flex-shrink: 0;
}
